{
  "extends": ["next/core-web-vitals"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["pages/**/*", "content/**/*"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
